<li>
	<a href="{{downloadUrl}}" class="downloadVersion has-tooltip" title="{{downloadTXT}}">
		<img src="{{downloadIconUrl}}" />
		<a class="versionPreview"><span class="versiondate has-tooltip" title="{{formattedTimestamp}}">{{relativeTimestamp}}</span></a>
		<a href="{{restoreUrl}}" class="restoreVersion has-tooltip" title="{{restoreTXT}}"><img src="{{restoreIconUrl}}" />
	</a>
</li>
